.Search {
    width: 100%;
    max-width: 768px;
    margin: 20px auto 0;
}

.Search input {
    width: 100%;
    padding: 10px 16px;
    outline: none;
    border: none;
    border-bottom: solid 1px #727272;
    background: transparent;
    font-size: 24px;
    color: inherit;
}